/* GENERAL WEB STYLING */
@media only screen and (max-width: 2000px ) {
    .about-container {
        margin: auto;
        padding: 0;

        width: 80%;
        height: 100vh;
    

        background-color: #fff;
        color: black;
    }

    .about-header {
        margin: 50px;
        text-align: center;
    }

    .about-header span {
        border-bottom: 3px solid black;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70%;
        margin: auto;
    }

    .about-left-content {
        color: black;
        background-color: #fff;
        margin: 50px auto;
        padding: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.2rem;
    }

    .about-img{
        width: 100%;
        height: 100%;
    }

    .about-right-wrapper {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        width: 50%;
        height: 100%;
        background-color: #fff;
        color: black;
        
    }

    .about-right-content {
        padding: 15px;
        height: auto;
        line-height: 2;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-weight: normal;
    }

    .about-right-div {
        margin: 10px auto;
        padding: 10px;
        height: auto;
    }

    .about-ul {
        list-style: inside;
        margin-bottom: 20px;
    }

    .about-para {
        margin-bottom: 15px;

    }
}

/* IHPONE X STYLING */
@media only screen and (max-width: 400px ) {
    .about-container {
        margin: auto;
        padding: 0;

        width: 100%;
        height: 100%;
        background-color: #fff;
        color: black;
    }

    .about-header {
        display: none;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .about-left-content {
        color: black;
        background-color: #fff;
        padding: 0;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }

    .about-middle-content {
        color: black;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin: 35px auto;
        padding: 40px 15px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2;
        font-weight: bold;
    }
}